body 
{
    background-color:#666;
    color: #000305;
    font-family: Arial, 'Lucida Sans Unicode';
    font-size: 87.5%;
    text-align: left;
    line-height: 1.5;
    width: 70%;
    margin: auto;
}

.mainHeader img 
{
    width: 40%;
    height: auto;
    margin: 2%;
}

nav ul 
{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #1E90FF;
    color: white;
    border-radius: .5em;
}

nav ul li 
{
    padding: 1em 3em 1em 3em;
    color: white;
}

nav ul a 
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;  
}

nav a:link, nav a:visited 
{
    color: white;
}

a 
{
    text-decoration: none;
}

a:link, a:visited 
{ 
    color: #cf5c3f;
}

a:hover, a:active 
{
    background-color: #cf5c3f;
    color:#fff;
}

section
{
    background-color: lightblue;
    border-radius: .5em;
    padding: 0 1em 1em 1em;
}

.left
{
    width: 70%;
    float: left;
    clear: both;
    margin: 0 2em 0 0;
}

aside
{
    width: 30%;
}

.mainContent
{
    display: flex;
    flex: 1;
}

em
{
    color: grey;
}